# Ignore large files and folders
models/
data/
output/
*.pt
*.pth
*.ckpt
# Ignore data, checkpoints, and models
data/
models/
output/
*.pt
models/checkpoints/*
datasets/data/*
__pycache__/
output/

.venv/
.conda/*.h5
*.h5
KPIs.pdf

/output/
/output/
/plots/
/output_original/
/output_BRK/
examples/yolo_brk_pcx.pdf

PIDNet_brk2/
